* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a.nav__link {
  height: 100%;
  width: 100%;
  padding-left: 0.5em;
}

li a {
  padding: 0;
  margin: 0;
}

a.project__link {
  font-size: 1.7em;
  margin: 5px;
}

/* ~~~~~~~~~~~~ Carousel ~~~~~~~~~~~~~*/
.carousel {
  width: 650px;
  margin: auto;
}

@media only screen and (max-width: 996px) {
  .carousel {
    width: 100%;
    margin: auto;
  }
}

/* ~~~~~~~~~~~~Navigation ~~~~~~~~~~~~~*/
.navigation {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: -3em;
  z-index: 2;
}

.navigation ul {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  color:#fff;
  padding: 1em 0 2em 1em;
}

.navigation ul li {
  display: flex;
  height: 100%;
  align-items: center; 
}

.navigation ul li a:hover {
  opacity: 1;
  transition: 0.3s;
}

.navigation ul li a:hover {
  color: #eac435;
  border-color: #eac435;
}

.navigation ul li:active {
  color: #33658a;
  border-color: #33658a;
  transition: 0s;
}

.nav__link {
  height: 100%;
  border-left: 2px solid;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.3;
}

.current {
  color: #eac435;
  border-left: 2px solid #eac435;
  border-color: #eac435;
  opacity: 1;
}

.navigation ul li a.nav__link.current a{
  opacity: 1;
}

#hamburger-menu {
  font-size: 2em;
  color: white;
  position: absolute;
  left: -1000000px;
}

@media only screen and (max-width: 674px) {
  #hamburger-menu {
    font-size: 2em;
    color: white;
    position: fixed;
    left: 0;
    padding: 0.5em;
    cursor: pointer;
  }

  .navigation {
    position: absolute;
    left: -10000px;
    transition: 2s;
  }

  .navigation.nav-visible {
    transition: 0.1s;
    position: fixed;
    left: 0;
    background-color: #2F4858;
    padding-left: 5em;
    padding-right: 1em;
    opacity: 1;
    transition:0.2s;
  }

  .navigation.nav-visible li {
    border-left: none;
    text-align: left;
  }


}

/* ~~~~~~~~~~~~ Helpers ~~~~~~~~~~~~~*/

.section {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}

.center div {
  margin: auto 0;
  justify-content: center;
}

.primary-text {
  color: #eac435;
}

/* ~~~~~~~~~~~~ Section Specific ~~~~~~~~~~~~~*/

.titleSection {
  background-color: #a31621;
}

.projectSection {
  background-color: #345995;
}

.projectsContainer.container {
  padding: 0 3em;
}

@media only screen and (max-width: 557px) {
  .projectsContainer.container {
    padding: 0 1em;
  }
}

.projectCard {
  display:flex;
  justify-content: center;
}
.skillsSection {
  background-color: #345995;
}
.contactSection {
  background-color: #345995;
}